# ignoring files LaTeX makes automatically when compiling
*.aux
*.log

# ignoring files LaTeX makes when using biber/biblatex
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.lof
*.lot
*.toc

# ignoring files that end with a ~ and .swp extension
*~
*.swp

